<nav class="nav-menu">

         {{!-- <div class="logo">
             
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_j29ggt.json" background="transparent"  speed="1"  style="width: 50px; height: 50px;" loop autoplay></lottie-player>

         </div>  --}}

         <ul class="item-container">
            <li class="list-item">
                <i class="fas fa-users-cog"></i>
                <a href="/admin/users">User Management</a>
            </li>
            <li class="list-item">
                <i class="fab fa-product-hunt"></i>
                <a href="/admin/getproducts">Product Management</a>
            </li>
            <li class="list-item">
                <i class="fab fa-product-hunt"></i>
                <a href="/admin/categories">Category Management</a>
            </li>
            <li class="list-item">
                <i class="fas fa-people-carry"></i>
                <a href="/admin/orders">Order Management</a>
            </li>
            <li class="list-item">
                <i class="fas fa-images"></i>
                <a href="/admin/orders">New Banner</a>
            </li>
            <li class="list-item">
                <i class="fas fa-percent"></i>
                <a href="/admin/orders">Add Coupon</a>
            </li>
         </ul>
</nav>