<section class="navigation-container">
    <nav class="nav-container">
        <i class="fas fa-bars btn-toggler"></i>
        <img src="/images/logo.png" alt="LOGO" class="logo-img">
        <ul class="nav-list">
              <li class="nav-item">
                <a href="/product">
                  <span class="material-symbols-outlined">
                    chair
                  </span>
                  PRODUCTS
                </a>
              </li>
              {{#if isLoggedIn}}
                <li class="nav-item">
                  <a href="/profile/{{id}}">
                  <span class="material-symbols-outlined">
                    account_circle
                  </span>
                    PROFILE
                  </a>
                </li>
              {{/if}}
              <li class="nav-item">
                <a href="/cart">
                  <span class="material-symbols-outlined">
                    shopping_cart
                  </span>
                  Cart
                </a>
              </li>
              {{#if isLoggedIn}}
              <li class="nav-item">
                <a href="/user/logout">
                  <span class="material-symbols-outlined">
                    logout
                  </span>
                  Logout
                </a>
              </li>
              {{else}}
              <li class="nav-item">
                <a href="/user/signin">
                  <span class="material-symbols-outlined">
                    login
                  </span>
                  Login
                </a>
              </li>
              {{/if}}

        </ul>
    </nav>    
</section>





{{!-- https://assets5.lottiefiles.com/private_files/lf30_phcng6qv.json --}}


