<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

         {{!-- FONT AWESOME LINK --}}
         <script src="https://kit.fontawesome.com/552075e46f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <title>User Management</title>
    </head>

    <body>

        {{!-- {{>nav}} --}}
        
        {{{body}}}
          
  



      <script src="/javascript/script.js"></script>


    </body>
</html>