* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
 a {
   text-decoration: none;
 }
 html {
    font-size: 62.5%;
 }
 body {
    width: 100%;
    /* background-color: #e5e7eb; */
    background-color: #fff;
    position: relative;
    display: flex;
 }

 .nav-menu {
    background-color: #111827;
    width: 30rem;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
 }


 .logo {
    display: flex;
    align-items: center;
    color:#fff;
    padding: 3rem 0 0 3rem;
    font-size: 2.4rem;
    background-blend-mode: lighten;
 }

 .logo img {
    width: 5rem;
    margin-right: 1.5rem;
    height: 3.5rem;
    border-radius: .5rem;
 }
 .logo h2 {
   font-size: 2.2rem;
   letter-spacing: .8rem;
 }
 .item-container {
    /* margin-top: 2.5rem; */
 }

 .item-container li {
   list-style: none;
   padding: 1.5rem 0;
   transition: 0.3s ease;

 }

 .item-container li:hover {
    background-color: #253047;
    cursor: pointer;
 }


 .item-container li i {
    color: rgb(134, 141, 151);
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    margin: 0 1rem 0 2.5rem;
 }


 .item-container li:hover i , .item-container li:hover a {
    color: #f3f4f6;
 }

 .item-container li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-size: 2rem;
    transition: 0.3s ease;
 }


 


 .dashboard-container {
    width: calc(100% - 30rem );
    margin-left: 30rem;
    position: relative;
 }

 .dashboard-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.5rem 3rem;
    border-bottom: .3rem solid rgb(66, 66, 210);

    position: fixed;
    width: calc(100% - 30rem );
 }


 .dashboard-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }

 #menu-btn {
    color: #2b2b2b;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;

    display: none;
 }

 .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.4rem;
    border: 1px solid #d7dbe6;
    border-radius: .5rem;
 }

.search i {
    margin-right: 1.5rem;
    font-size: 1.5rem;
 }

 .search input {
    border: none;
    outline: none;
    font-size: 1.5rem;
 }
  
 .btn-search {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: transparent;
    /* outline: none; */
    border: 0;
    width: 1.5rem;
 }

 .dashboard-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }

 /* .dashboard-right a {
   border: 1px red solid;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #111827;
   font-size: 1.5rem;
   width: 8rem;
   border: 1px red solid;
 } */
 

 .dashboard-right a  {
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(66, 65, 65);
    margin-top: 1rem;
 }

 .dashboard-right  img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
 }

 

 


.dashboard-heading {
    color: #444a53;
    padding: 3rem 3rem 0 3rem;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 7rem;
}

.box-container {
    padding: 3rem 3rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    background-color: #fff;
    width: 26rem;
    padding: 1.6rem 2rem;
    border-radius: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 2rem 1.5rem 4rem rgba(0, 0, 0, .1);
}

.box i {
    font-size: 2rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 1rem;
}

.box:nth-child(1) i {
    background-color: #7b74ec;
}
.box:nth-child(2) i {
   background-color: #74daec;
}
.box:nth-child(3) i {
   background-color: #e45d99;
}


.box h3, .box span {
    font-size: 1.4rem;
    color: #828989;
}

.dashboard {
   width: 93.5%;
   margin: 3rem 0 3rem 3rem;
   overflow: auto;
   background-color: #fff;
   border-radius: .5rem;
   box-shadow: 2rem 1.5rem 4rem rgba(0, 0, 0, .1);
}

table {
   border-collapse: collapse;
}

tr {
   border-bottom: 1px solid #eef0f7;
}

tbody tr a {
   /* border: 1px red solid; */
   padding: .5rem;
   text-align: center;
   display: block;
   width: 10rem;
   border-radius: 1.2rem;
   font-weight: 400;
   font-size: 1.3rem;
}

tbody tr .btn-block , 
tbody tr .btn-edit , 
tbody tr .btn-category-block  {
   padding: .5rem;
   text-align: left;
   display: block;
   width: 5rem;
   font-weight: 400;
   font-size: 3rem;
}



tbody tr .product-action {
   display: flex;
   height: 100%;
}
.tick {
   color: green;
}

.cross {
   color: red;
}
.edit {
   color: #4e45cb;
}
tbody tr a:hover {
   text-decoration: none;
   cursor: pointer;
}

 tbody tr .unblock {
   border: 1px rgb(120, 205, 120) solid;
   color: rgb(49, 117, 49);
   transition: all .2s;
 }

tbody tr .block {
   border: 1px rgb(217, 86, 86) solid;
   color: rgb(174, 33, 33);
   transition: all .2s;
}
tbody tr .block:hover {
   background-color: rgb(217, 94, 94);
   color: #ddd2d2;
}
tbody tr .unblock:hover {
   background-color: rgb(119, 200, 119);
   color: #ddd2d2;
}

thead td {
   font-size: 1.4rem;
   text-transform: uppercase;
   font-weight: 400;
   background-color: #e1e6ec;
   text-align: start;
   padding: 1.5rem;
}

tbody tr td {
   padding: 1rem 1.5rem;
   font-size: 1.6rem;
   color: #323b4e;
}


tbody tr td img {
   width: 10rem;
   height: 10rem;
   object-fit: cover;
}

.item-container .active {
   background-color: #253047;
   cursor: pointer;
   color: #f3f4f6;
}

/* REGISTRATION STYLE */
.icon-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-heading {
   font-size: 3rem;
   font-weight: 800;
   letter-spacing: .6rem;
   color: rgb(50, 49, 49);
   text-align: center;
   margin-bottom: 3rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-container {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#register_form {
   width: 65rem;
   padding: 2.5rem 3rem;
   box-shadow: 2rem 1.5rem 4rem rgba(0, 0, 0, .1);
   border-radius: 1rem;
}

.input-container {
   display: flex;
   flex-direction: column;
}

.input-container label {
   font-size: 1.2rem;
   font-weight: 400;
   color: #323b4e;
   margin-bottom: .5rem;
   letter-spacing: .1rem;
}

.form-container input[type='text'] , 
.form-container input[type='password'] ,  
.signup-letter form input[type='text'] {
  outline: none;
  font-size: 1.4rem;
  padding: .5rem 1.2rem;
  margin-bottom: 2.5rem;
  border: .1rem solid rgb(202, 202, 202);
  border-radius: .3rem;
  color: rgb(46, 44, 44);
}

.btn-submit {
   width: 10rem;
   text-align: center;
   padding: 1rem 1.5rem;
   background-color: rgb(48, 44, 44);
   color: #fff;
   border-radius: .5rem;
   border: none;
   cursor: pointer;
}

.signin_text a  {
   text-decoration: none;
   font-size: 1.3rem;
   padding-left: .5rem ;
}
.btn-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.signin_text {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
}


/* Validation error message styling */

.error {
   /* width: 80%; */
   height: 0;
   margin: -.5rem auto .8rem;
   background-color: rgb(220, 95, 95);
   /* transform: scale(0); */
   /* display: none; */
   transition: all .2s;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 1.4rem;
   border-radius: .4rem;
}

.errorMsg {
   background-color: rgb(220, 95, 95);
   padding: 1rem .3rem;
   color: white;
   border-radius: .5rem;
   font-weight: 300;
   text-align: center;
   font-size: 1.3rem;
   margin: -1rem 0 1rem;
}
.warning_msg {
   background-color: rgb(194, 194, 47);
   text-transform: capitalize;
   
}

.signin_text {
   text-align: center;
   padding: 1.7rem 0;
}
.resend {
   color: #4e45cb;
   cursor: pointer;
}



/* POPUP STYLING */

.popup {
   width: 25rem;
   background-color: white;
   border-radius: .5rem;
   height: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 2rem 1.5rem 4rem rgba(0, 0, 0, .1);
   position: fixed;
   top: 30%;
   left: 40%;
   transform-origin: center;
   transform: translate(-50% , -50%);
   transform: scale(0);
   transition: transform .4s;
}

.open_popup {
   transform-origin: center;
   transform: scale(1);
   z-index: 100;
}

.popup h2 {
   padding: 1.5rem 1rem;
   text-transform: uppercase;
   font-size: 1.5rem;
}
.popup p {
   padding: 2rem 1.5rem;
   text-align: center;
   font-size: 1.3rem;
   color: #42506c;
}
.popup button {
   padding: .5rem 1rem;
   background-color: rgb(29, 29, 141);
   color: #d7dbe6;
   outline: none;
   border: none;
   font-size: 1.3rem;
   border-radius: .5rem;
   cursor: pointer;
   width: 7rem;
   margin-top: 1rem 2rem;
}


/* Styling add product page */

.add-btn-container {
   text-align: right;
}

.btn-add-product , .btn-add-product:hover {
   background-color: red;
   margin: 1rem 0;
   margin-right: 2.5rem;
   font-size: 1.5rem;
   background-color: rgb(51, 51, 115);
   display: inline-block;
   color: white;
   border-radius: 1rem;

   border: none;
   padding: 1rem 3rem;
}

.product_form-container {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#product_form {
   width: 95rem;
   padding: 2rem 2rem;
   border-radius: .5rem;

   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

   box-shadow: 2rem 1.5rem 4rem rgba(0, 0, 0, .1);

   height: 90vh;
   overflow-y: auto;
}

#product_form::-webkit-scrollbar {
   width: .5rem;/* width of the entire scrollbar */
 }
 
 #product_form::-webkit-scrollbar-track {
   background: rgb(255, 255, 255);        /* color of the tracking area */
 }
 
 #product_form::-webkit-scrollbar-thumb {
   background-color: rgb(226, 224, 224);    /* color of the scroll thumb */
   border-radius: 2rem;       /* roundness of the scroll thumb */
   border: 1px solid rgb(221, 220, 220);  /* creates padding around scroll thumb */
 }


.product_form-container input[type='text'] , 
.product_form-container input[type='password'] ,
.product_form-container textarea ,
.product_form-container select ,
.product_form-container input[type='file'] ,
.product_form-container input[type='number'] {
   outline: none;
   font-size: 1.8rem;
   padding: .5rem 1.5rem;
   margin-bottom: 3.5rem;
   border: .1rem solid rgb(202, 202, 202);
   border-radius: .3rem;
   color: rgb(46, 44, 44);
 }
 .product_form-container input[type='file'] {
   font-size: 1.2rem;
 }
 .product_form-container select  {
   width: 26rem;
 }

  
 .dfull {
   flex-basis: 95%;
 } 
 /* #description {
   padding: 1rem 1.5rem;
 } */
 
 .btn-product {
   flex-basis: 95%;
 }

 #image {
    justify-self: flex-start;
}


li {
   list-style: none;
 }

 a {
   text-decoration: none;
 }

 a:hover {
   text-decoration: none;
 }



 .navigation-container {
   border-bottom: 1px rgb(37, 34, 34) solid;
   width: 100%;
   padding: .5rem 1.5rem;
   position: fixed;
   top: 0;
   background-color: white;
 }

 .nav-container {
   
   max-width: 100%;
   padding: 1rem 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
 } 

 .logo-img {
   width: 8rem;
   margin-top: -1rem;
 }
  

 .nav-list {
   display:  flex;
   z-index: 100;
 }

 .nav-item {
   padding: 1.5rem 2.5rem;
 }

 .nav-item a {
   display: flex;
   font-size: 1.5rem;
   color: #323336;

   justify-content: space-between;
   align-items: center;
 }

 .nav-item a span {
   margin-right: 1rem;
 }

.btn-toggler {
   position: absolute;
   top: 2.1rem;
   right: 1.5rem;
   font-size: 2.5rem;
   display: none;
}


/* HERO SECTION */

.home-container {
   padding: 1rem 2rem;
}
.hero {
   margin-top: 17vh;
   height: 82vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero-content {
   width: 75%;
   margin: auto;
   /* border: 1px red solid; */
   text-align: center;
}
.hero-content h2 {
    color: #454b57;
    font-size: 4.5rem;
    font-weight: 600;
    padding: 1rem .5rem;
}

.hero-content p {
   font-size: 2rem;
   letter-spacing: .1rem;
   padding: 1rem .6rem;
   color: #83868b;
   font-weight: 200;
}

.btn-shop {
   width: 20rem;
   margin-top: 2rem;
   padding: 1.5rem 1.5rem;
   background-color: rgb(94, 155, 188);
   color: #fff;
   border-radius: .2rem;
   border: none;
   cursor: pointer;
}
.hero-img img {
   width: 100%;
   height: 80vh;
   object-fit: cover;
}


/* Best product details */
.best-products-container {
   margin-top: 5rem;
   margin-bottom: 12rem;
}
.best-products-heading {
   margin: 6rem 0;
}
.best-products-heading h4 {
   color: rgb(94, 155, 188);
   font-size: 2rem;
   padding: .5rem;
   font-weight: 200;
}

.best-products-heading h2 {
   font-size: 4rem;
   padding: .5rem;
}

.best-products-heading p {
   font-size: 1.8rem;
   padding: .5rem;
   color: #8a8e93;
   font-weight: 100;
}

.best-products-list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.best-product {
   position: relative;
   width: 23%;
   margin-bottom: 2rem;
   /* height: 30rem; */
   /* border: 1px red solid; */
 } 
 .best-product img {
   width: 100%;
   height: 100%;
 }

 .card {
   position: static;
   z-index:-4; 
 }
 .btn-add-cart , .btn-view-product {
   position: absolute;
   display: inline-block;
   font-size: 2.3rem;
   color: #273656;
 }
 .btn-add-cart {
   bottom: 2rem;
   right: 5.5rem;
 }
 .btn-view-product {
   bottom: 2rem;
   right: 1.5rem;
 }

 .card img {
   height: 20rem;
 } 



 .price {
   font-size: 1.7rem;
   color: #8a8e93;
   padding: .2rem .5rem;
  }
  .product_name {
    font-size: 2rem;
    color: #23282e;
    font-weight: 100;
    padding: .2rem .5rem;
  }

/* Signup letter styling */
.signup-letter {

   background-color: rgb(224,237,244);
   min-height: 18rem;
   display: flex;
   padding: 2rem 3rem;
   justify-content: space-around;
   align-items: center;
}

.signup-letter h3 {
   font-size: 3rem;
   flex-basis: 50%;
   font-weight: 400;
}


.signup-letter form p {
   margin-top: -2.3rem;
   padding: .5rem .8rem;
   font-size: 1.5rem;
 }

.btn-subscribe {
   height: 3.4rem;
}

footer h1 {
   font-size: 1.3rem;
   margin-top: 2rem;
   font-weight: 200;
   text-align: center;
   padding: 1rem;
   background-color: #2b2b2b;
   color: #d3e6e9;
}


.buy-product {
   margin-top: 14rem;
   width: 100%;
   /* border-bottom: 1px rgb(171, 168, 168) solid; */
   height: 70vh;
}

.best-products-heading .secondery_head {
   font-size: 2.7rem;
}
.best-products-heading .primary_head {
   font-size: 6rem;
   font-weight: 400;
}

.best-products-heading .tertiary_head {
   font-size: 2rem;
   font-size: 200;
}

.btn-container-product a {
   display: inline-block;
   color: rgb(82, 81, 81);
   margin: 2rem 1rem;
   padding: 1.5rem 2rem;
   background-color: rgb(224,237,244);
   font-size: 1.8rem;
}

.details .product-details a {
   display: inline-block;
   background-color: rgb(25, 51, 64);
   color: #ecf2ff;
   padding: .8rem 2rem;
   border-radius: 1rem;
    /* margin-left: 6.5rem; */
   font-weight: 200;
   width: 100%;
   text-align: center;
   /* margin: auto; */
   margin-top: 1rem; 
   font-size: 1.2rem;
}

.details .product-details a {
   margin-top: 1.8rem;
}



.card .btn-cart {
   background-color: rgb(151, 199, 225);
   color: #23282e;
} 


/* PRODUCT DETAILS PAGE */

.details-container {
  padding: 6rem 4rem;
  margin-top: 13vh;
}

.details {
   display: flex;
   justify-content: space-around;
}

.product-img {
   width: 45%;
   /* display: flex; */
}
.product-details {
   width: 45%;
   padding: 0 2rem;
}

.product-details h1 {
   font-size: 3rem;
   font-weight: 300;
   padding: .3rem .5rem;
   color:  rgb(50, 97, 122);
}

.product-details h2 {
   font-size: 2rem;
   font-weight: 100;
   /* color: #787575; */
   padding: .5rem .7rem;
   color:  rgb(50, 97, 122);
} 

.product-details h3 {
   font-size: 1.5rem;
   padding: .5rem .7rem;
   font-weight: 100;
   color:  rgb(50, 97, 122);
}

.product-img img {
   width: 100%;
   display: block;
}
.product-img .mainImg {
   height: 28rem;
   border-radius: 1rem;
   /* object-fit: contain; */
}
.product-sub-img {
   display: flex;
   /* flex-direction: column; */
   justify-content: space-between;
   align-items: end;
   padding: 1rem 0;
}
.product-sub-img img {
  width: 28%;
  height: 10rem;
  border-radius: 1rem;
  /* object-fit: contain; */
}

/* Cart page styling */
.cart-page-container {
   width: 100%;
   padding: 3rem 2rem;
   display: flex;
   justify-content: space-around;

   margin-top: 10rem;
}

.cart-items-container {
  width: 40%;
}

.cart-items-details {
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.cart-card {
   padding: 1rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   border-radius: 1rem;
   box-shadow: 1rem .5rem 6rem rgba(0, 0, 0, .1);
   margin-bottom: 2rem;
   
}

.cart-details-container {
   display: flex;
}


.cart-item-image {
   object-fit: cover;  
   width: 7rem;
   height: 7rem;
   border-radius: 1rem;
}

.cart-details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.cart-details h1 , .cart-details h3 {
   padding: .6rem .6rem;
   margin-left: 1rem;
}
.cart-details h1 {
   font-size: 1.7rem;
}
.cart-details h3 {
   margin-top: -1rem;
   color: #727479;
}



.card-quantity-details {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 1rem;
}
.card-quantity-details button , .card-quantity-details a {
   color: #27385d;
   font-size: 2rem;
}

.quantity {
   font-size: 1.8rem;
   margin-top: .5rem;
}


.cart-details-action {
   display: flex;
   justify-content: center;
   align-items: center;
}

.card-quantity-details button {
   border: none;
   outline: none;
   width: 2.3rem;
   height: 3rem;
   border-radius: .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem;
}

.cart-details-action button i , .cart-details-action a i {
   font-size: 1.6rem;
   color: rgb(169, 52, 52);
}
.cart-details-action a {
   cursor: pointer;
}

.cart-box {
   width: 100%;
   box-shadow: 1rem .5rem 6rem rgba(0, 0, 0, .1);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 18rem;
   border-radius: 1rem;
   padding: 1rem 0;
}

.cart-box h1 {
   font-size: 2.2rem;
   color: #303234;
}
.cart-box h3 {
   font-size: 2.4rem;
   color: #27385d;
}

.btn-order {
   width: 100%;
   text-align: center;
   margin-top: 5rem;
   text-align: center;
   padding: 1rem 1.5rem;
   background-color: rgb(48, 44, 44);
   color: #fff;
   border-radius: .5rem;
   border: none;
   cursor: pointer;
   font-size: 1.4rem;
}

.btn-order:hover {
   color: white;
}

.category_form {
   width: 93%;
   height: 4rem;
   margin:auto;
   display: flex;
   justify-content: space-between;
   margin-top: 1rem;
}

.category_form input[type='text'] {
  flex-basis: 75%;
  outline: none;
  font-size: 1.5rem;
  padding-left: .8rem;
}

.category_form input[type='text']:focus {
   outline: none;
}

.category_form button {
   flex-basis: 20%;
   border: 0;
   background-color: rgb(48, 44, 44);
   color: white;
   font-size: 1.3rem;
   border-radius: .5rem;
}
 
/* USER Profile page styling */

.profile-page-container {
   margin-top: 16vh;
   width: 100%;
}

.profile-info-container {
   padding: 5rem;
}

.profile-info {
   border: .3px rgb(160, 168, 172) solid;
   padding: 2rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 30rem;
   border-radius: .3rem;
   /* box-shadow: 1rem 4rem 1rem rgba(0, 0, 0, .1); */
}
.profile-info img {
 width: 4rem;
 height: 4rem;
 /* display: block; */
 border-radius: 1rem;
 object-fit: cover;
 margin-right: 1rem;
}

.welcome h3 {
   color: rgb(70, 69, 69);
   font-size: 1.4rem;
   font-weight: 200;
}
.welcome h1 {
   font-size: 2rem;
   color: #253047;
   font-weight: 300;
}

.profile-details-container {
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.personal-info {
   border: .3px rgb(160, 168, 172) solid;
   padding: 2rem;
   width: 30rem;
   border-radius: .5rem;
}

.personal-info-form .input-container {
   margin-bottom: 2rem;
}

.personal-info-form .input-container label {
   font-size: 1.6rem;
}

.personal-info-form .input-container input[type='text'] ,
.adress-form .row-one .input-container input[type='text']  ,
.adress-update-form .row-one .input-container input[type='text'] ,
.personal-info-form .input-container input[type='submit'] ,
.btn-address  {
   height: 3rem;
   padding: .5rem;
   border: .3px rgb(160, 168, 172) solid;
   border-radius: .2rem;
   font-size: 1.3rem;
}
.input-container input[type='text']:focus {
   outline: none;
}

.personal-info-form .input-container input[type='submit'] , .btn-address  {
   background-color: #32323d;
   color: white;
   outline: none;
   border: 0;
   margin-top: 1rem;
   cursor: pointer;
}
.btn-address {
   margin-top: -1rem;
   flex-grow: 1;
}

.input-container input[type='submit']:hover {
   background-color: #1d1d1f;
   
}

/* Profile actions */

.profile-page {
   display: flex;
   justify-content: center;
}
.profile-actions {
   padding: 5rem 6.5rem;
}

.profile-actions-nav {
   padding: .5rem 2rem;
   display: flex;
   justify-content: space-around;
   align-items:center;
}
.profile-actions-nav a {
   font-size: 1.4rem;
   padding: 1rem 4rem;
   color: #1e3757;
   margin-right: 1rem;
   border: .3px rgb(160, 168, 172) solid;
}

.adress-form-container {
   padding: 1.5rem 1rem;
   margin-top: 7rem;
   border: .3px rgb(160, 168, 172) solid;
   border-radius: .3rem;
}
.address-heading {
   font-size: 2.5rem;
   font-weight: 100;
   padding: 0 .5rem ;
   letter-spacing: .3rem;
   margin-bottom: 1.4rem;
}
.row-one {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1.3rem;
   padding: 1rem 0;
   /* border: 1px red solid; */
}

.address-container {
   padding: 1rem 7rem;

   display: flex;
   justify-content: flex-start;
   width: 90%;
   margin: auto;
}
.address-list {
   width: 20%;
   margin-right: 2rem;
   border: .3px rgb(160, 168, 172) solid;
}
.address-list h2 {
   font-weight: 200;
   padding: .5rem;
   font-size: 1.6rem;
}
.address-list h4 {
   font-weight: 100;
   color: #1e3757;
   font-size: 1.3rem;
   padding: .5rem;
}


.order-page-container {
   display: flex;
   width: 100%;
   margin-top: 16vh;
}
.order-page-left {
  padding: 2rem;
}
.adress-details-card-container {
  /* width: 53%; */
  display: flex;
  margin-bottom: 5rem;
  /* padding: 1rem; */
}
.adress-details-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border: 1px rgb(104, 103, 103) solid;
  width: 18rem;
  margin-right: 2.5rem;
  border-radius: .3rem;
}
.address-details {
 padding: 0 1rem;
}

.address-details h2 {
 font-size: 1.6rem;
 font-weight: 300;
 margin-bottom: .6rem;
}
.address-details h4 {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: .4rem;
}

#address {
  margin-top: .3rem;
}

#adress-form {
  margin-top: 0;
  margin-bottom: 4rem;
  width: 100%;
}
#adress-form .address-heading {
  padding-left: 0;
}

.adress-form .row-one .input-container input[type='text'] {
   margin-right: 1.3rem;
}

#adress-form .adress-form .row-one {
  justify-content: space-between;
}


.order-page-right {
  width: 100%;
}

.order-details-container {
  width: 100%;
  padding: 2.4rem;
}

.order-details {
  border: 1px rgb(90, 88, 88) solid;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 1rem;
  width: 80%;
  margin: auto;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
.order-details img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  display: block;
  margin-right: 4rem;
}

.order-details .my-order h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: .3rem;
}

.my-order {
   flex-grow: 2;
}

.my-order h3 {
  font-size: 1.5rem;
  font-weight: 200;
}
.order-details h1 {
  font-size: 3rem;
  font-weight: 300;
}

.order-summary {
  padding: 0rem 2.5rem;
}

.orders {
  border: .3px rgb(71, 71, 71) solid;
  width: 80%;
  border-radius: .3rem;
  margin: auto;
  padding: 2rem 1.5rem;
}

.orders h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.total-order-items {
  display: flex;
  justify-content: space-between;
}

.total-order-items h3 {
  font-size: 1.7rem;
  font-weight: 200;
  padding: 1rem 0;
}

.total-order-payment {
 display: flex;
 justify-content:flex-start;
}

.payment-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  margin-right: 1.5rem;
  padding: 1rem 0;
}

.payment-option {
  margin-top: -.3rem;
  margin-right: .5rem;
}

.btn-payment {
  display: block;
  margin: 1rem 0 0;
  width: 100%;
  border: 0;
  outline: none;
  padding: .6rem;
  background-color: #1d1d1f;
  color: white;
  border-radius: .4rem;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
}
.btn-payment:hover {
   color: white;
}


/* Order user page */
.userorder-container {
   margin-top: 18vh;
   width: 100%;
   padding: 1rem 6rem;
}
.userorder-container h1 {
   font-size: 1.5rem;
   font-weight: 200;
   margin-bottom: .7rem;
}
.my-details-order {
   border: .4px rgb(77, 75, 75) solid;
   width: 80%;
   display: flex;
   justify-content: space-between;
   padding: 1rem 1.5rem;
   border-radius: .4rem;
   margin-bottom: 5rem;
}
.order-products-image {
   display: flex;
}
.order-products-image img {
    width: 7rem;
    height: 7rem;
    display: block;
    margin-right: 1rem;
    object-fit: cover;
}

.order-shipping-address h4 , 
.order-products h4 , 
.order-payment-mode h4 ,
.order-total h4 {
   font-size: 1.4rem;
   font-weight: 200;
   margin-bottom: .4rem;
} 

.order-image-container {
   display: flex;
   flex-direction: column;
}

.order-image-container img {
   width: 4rem;
   height: 4rem;
   margin-bottom: .5rem;
}

.order-cancel {
   font-size: 1.4rem;
   cursor: pointer;
   color: rgb(60, 60, 203);
}

.order-cancel a {
   display: block;
   padding: .5rem;
   border-radius: .2rem;
}

/* .order-cancel .success {
   color: green;
} */

.order-action {
  display: flex;
  justify-content: flex-start;
  
}
.order-action a {
   display: inline;
   border-radius: .4rem;
   padding: .3rem .1rem;
   margin-right: .5rem;
}
.order-delivered-btn {
  border: 1px rgb(106, 115, 219) solid;
  color: rgb(106, 115, 219);
}
.order-delivered-btn:hover {
  background-color: rgb(106, 115, 219);
  color: white;
}


.order-cancel-btn {
   border: 1px rgb(201, 28, 28) solid;
   color: rgb(201, 28, 28);
 }
 .order-cancel-btn:hover {
   background-color: rgb(185, 38, 38);
   color: rgb(222, 217, 217);
 }

 .success {
   border: 1px rgb(89, 175, 52) solid;
   color: white;
   background-color: rgb(123, 219, 82);
 }
 .danger {
   border: 1px rgb(205, 30, 30) solid;
   color: white;
   background-color: rgb(205, 30, 30);
 }

@media (max-width: 820px) {
   .nav-menu {
      width: 30rem;
      position: fixed;
      left: -35rem;

      transition: 0.3s ease;
   }
   .nav-menu.active {
      left: 0px;
   }

   .dashboard-container {
      width: 100%;
      margin-left:0;
      position: relative;
      display: inline-block;
      transition: 0.3s ease;
   }

   .nav-menu.active~.dashboard-container {
     width: calc(100% - 30rem);
     margin-left: 30rem;
   }

  .dashboard-nav {
      width: 100%;
  }
  
  .box-container {
     justify-content: flex-start;
  }
  .box {
     margin-right: 2rem;
  }
  .dashboard {
      width: 90%;
      overflow-x: auto;
      padding: 0;
  }
  table {
      width: 100%;
      border-collapse: collapse;
  }
  #menu-btn {
   display: block;
  }

  #register_form {
   width: 30rem;
  }
  .signin_text {
   flex-direction: column;
  }
  tbody tr td {
   padding: 1rem 1.5rem;
   font-size: .8rem;
   color: #323b4e;
  }
  .popup {
   left: 20%;
  }
  .dfull {
   width: 28rem;
  }
  .input-container {
   flex-basis: 95%;
  } 
  tbody tr .btn-block  , tbody tr .btn-category-block {
      padding: .5rem;
      text-align: left;
      display: block;
      width: 5rem;
      font-weight: 400;
      font-size: 2rem;
  } 
   .nav-container {
      flex-direction: column;
      align-items: flex-start;
      
      padding: .7rem .5rem;
      height: 7vh;
      overflow: hidden;
      transition: all .3s;
   }
   .nav-list {
      flex-direction: column;
      opacity: 0;
      transition: all .1s .1s;
   }
   .logo-img  {
      width: 6.5rem;
      margin-top: .5rem;
   }
   .nav-item  {
      padding: 2rem 1.2rem 1.5rem;
   }
   .nav-item a {
      justify-content: flex-start;
   }
   .btn-toggler  {
      display: block;
   }
   .nav-container.active {
      height: 30.5vh;
   }
   .nav-list.active {
      opacity: 1;
   }
   .hero {
      margin-top: 14vh;
      height: 60vh;
   }
   .hero-content h2 {
      font-size: 3.5rem;
   }
   .hero-content p {
      font-size: 1.5rem;
   }
   .hero-img img {
      height: 60vh;
   }
   .best-products-heading {
      margin: 3rem 0;
   }
   .best-products-list {
      flex-wrap: wrap;
   }
   .best-product {
      width: 45%;
      height: 30rem;
      margin: 1rem 1rem;
   } 
   .product_name {
      font-size: 1.5rem;
   }
   .signup-letter {
      flex-wrap: wrap;
      justify-content: start;
   }
   .signup-letter h3 {
      flex-basis: 100%;
      font-size: 2.5rem;
      margin-bottom: 3.5rem;
      font-weight: 200;
   }

   .best-products-heading .primary_head {
      font-size: 3.5rem;
   }
   .best-products-heading .secondery_head {
      font-size: 2rem;
   }
   .best-products-heading .tertiary_head {
      font-size: 1.3rem;
   }
   .btn-container-product a {
      margin: .7rem;
   }
   /* .best-product a {
      width: 100%;
   } */
   .details {
      flex-direction: column;
   }
   .product-details , .product-img {
      width: 100%;
   }
   .product-details {
      padding: 1rem 0;
   }
   .product-img {
      margin-bottom: 2rem;
   }
   .cart-page-container {
      width: 100%;
      flex-direction: column;
   }
   
   .cart-items-container {
     width: 100%;
     margin-bottom: 2rem;
   }
   
   .cart-items-details {
      width: 100%;
   }

   .btn-view-product {
     bottom: 0rem;
   } 

   .btn-add-cart {
      bottom: 0rem;
      right: 6rem;
   }
   .category_form {
      width: 93%;
      margin: auto;
      margin-top: 1.5rem;
   }
   
   .category_form input[type='text'] {
     flex-basis: 70%;
   }

   .product-img .mainImg {
      height: 23rem;
      border-radius: 1rem;
      /* object-fit: contain; */
   }
}




@media (max-width: 476px) {
   .dashboard-nav {
      padding: 1.5rem;
   }
   .notification {
      margin-left: 1.6rem;
   }
   .dashboard-right  img {
      margin-left: -0.7rem;
   }
   .search input {
      width: 17rem;
   }
   .dashboard-heading {
      padding: 3rem 1.5rem 0 1.5rem;    
   }
   .box-container {
      padding: 3rem 1.5rem 0 1.5rem;
   }
   .btn-container {
     flex-direction: column;
     margin-top: 10rem;
   }
   .btn-container .btn-submit {
      width: 100%;
   }

   .box {
      width: 100%;
      margin: .8rem 0;
   }

   .dashboard {
      /* width: 93.5%; */
      margin: 3rem 1.5rem 3rem 1.5rem;
   }
   .hero {
      margin-top: 14vh;
      height: 60vh;
   }

   .hero-content h2 {
      font-size: 2rem;
   }
   .hero-content p {
      font-size: 1.5rem;
   }
   .hero-img img {
      height: 45vh;
   }
   .best-products-list {
      flex-wrap: wrap;
   }
   .best-product {
      width: 75%;
      height: 25rem;
      margin: 3rem .5rem;
    } 
    /* .best-product a {
      width: 100%;
    } */
    .best-products-heading h2 {
       font-size: 3rem;
    }

    .btn-submit , .signup-letter form input[type='text'] {
      margin-top: -10rem;
      width: 90%;
    }
    .signup-letter form p {
      margin-top: .5rem;
    }

    .details {
      flex-direction: column;
    }

    #btn-submit {
      margin-top: 0rem;
    }
}

