<section class="empty-cart">


    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_kcsr6fcp.json" background="transparent"  speed="1"  style="width: 350px; height: 350px;" loop autoplay></lottie-player>






</section>