    <section class="navigation-container">
        <nav class="nav-container">
           <i class="fas fa-bars btn-toggler"></i>
           <img src="/images/logo.png" alt="LOGO" class="logo-img">
           <ul class="nav-list">
              <li class="nav-item">
                <a href="#">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a href="#">PROFILE</a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </li>
           </ul>
        </nav>    
</section>
    
    
    <section class="cart-page-container">
            <div class="cart-items-container">
                <div class="cart-card">
                    <div class="cart-details-container">
                        <img  src="/images/admin.webp" alt="Image" class="cart-item-image">
                        <div class="cart-details">
                        <h1>Product name</h1>
                        <h3>1000</h3>
                        </div>
                    </div>
                    <div class="card-quantity-details">
                            
                        <a href="#" class="quantity-up">
                            <i class="fas fa-sort-up"></i>
                        </a>
                        <h1 class="quantity">12</h1>
                        <a href="#" class="quantity-down">
                            <i class="fas fa-sort-down"></i>
                        </a>
                        
                    </div>
                    <div class="cart-details-action">
                        <a href="#">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="cart-card">
                    <div class="cart-details-container">
                        <img  src="/images/admin.webp" alt="Image" class="cart-item-image">
                        <div class="cart-details">
                        <h1>Product name</h1>
                        <h3>1000</h3>
                        </div>
                    </div>
                    <div class="card-quantity-details">
                            
                            <a href="#" class="quantity-up">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <h1 class="quantity">12</h1>
                            <a href="#" class="quantity-down">
                                <i class="fas fa-sort-down"></i>
                            </a>

                    </div>
                    <div class="cart-details-action">
                        <a href="#">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="cart-card">
                    <div class="cart-details-container">
                        <img  src="/images/admin.webp" alt="Image" class="cart-item-image">
                        <div class="cart-details">
                        <h1>Product name</h1>
                        <h3>1000</h3>
                        </div>
                    </div>
                    <div class="card-quantity-details">
                            
                        <a href="#" class="quantity-up">
                            <i class="fas fa-sort-up"></i>
                        </a>
                        <h1 class="quantity">12</h1>
                        <a href="#" class="quantity-down">
                            <i class="fas fa-sort-down"></i>
                        </a>
                        
                    </div>
                    <div class="cart-details-action">
                        <a href="#">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cart-items-details">
                <div class="cart-box">
                    <h1>Total Items</h1>
                    <h1>13</h1>
                    <h3>Amount : 12890</h3>
                </div>
                <a href="#" class="btn-order">PLACE ORDER</a>
            </div>
     </section>