 {{>nav}}
 <section class="profile-page-container">
        <section class="profile-page">
            <section class="profile">
                <div class="profile-info-container">
                    <div class="profile-info">
                    <img src="/images/admin.jpg" alt="myuser">
                    <div class="welcome">
                        <h3>Hello , </h3>
                        <h1>{{user.name}}</h1>
                    </div>
                    </div>
                </div>
            </section>
            <section class="profile-actions">
                    <div class="profile-actions-nav">
                        <a href="/profile/{{user.id}}">Address Info</a>
                        <a href="/order/myorder">Order Info</a>
                        <a href="#">Change Password</a>
                    </div>
            
                    <div class="personal-info password-container">
                        <h2 style="margin-bottom: 2rem;">Change your password</h2>
                        <form class="password-change-form">
                            <div class="input-container">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="input-container">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" name="name" id="confirmPswd">
                            </div>
                            <div class="error"></div>
                            <div class="input-container">
                                <input type="submit" name="name" class="btn-password" data-url="{{user.id}}">
                            </div>
                        </form>
                    </div>
            </section>
        </section>  
      
 </section>