<section class="form-container">
        <form id="register_form" action="/user/reset/{{token}}" method="post">
            <h2 class="form-heading">Password</h2>
            
            <div class="input-container">
                <label for="fullname">Password</label>
                <input type="text" name="password" id="password" value="{{password}}">
            </div>
            <div class="input-container">
                <label for="fullname">Confirm Password</label>
                <input type="text" name="confirm_password" id="confirmPswd">
            </div>
            <div class="error"></div>
            {{#if isRegitered}}
                    <div class="errorMsg">{{errMessage}}</div>
            {{/if}}
            <input type="submit" value="Submit" class="btn-submit">
        </form>
</section>