<section class="order-success-page">
    <div>
        <h1>Thank You For Your Order  ...!</h1>
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_0df8dldf.json" background="transparent"  speed="1"  style="width: 250px; height: 250px;" loop autoplay></lottie-player>

        <a class="btn-continue" href="/">Continue Shopping</a>
    </div>
    
</section>