<section class="form-container">
        <form id="register_form">
            <h2 class="form-heading">Create Account</h2>
            <div class="input-container">
                <label for="fullname">Name</label>
                <input type="text" name="fullname" id="fullname">
            </div>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="text" name="email" id="fullname">
            </div>
            <div class="input-container">
                <label for="fullname">Password</label>
                <input type="text" name="password" id="fullname">
            </div>
            <div class="input-container">
                <label for="fullname">Confirm Password</label>
                <input type="text" name="confirm_password" id="fullname">
            </div>
            <input type="submit" value="Register" class="btn-submit">
        </form>
    </section>