<section class="form-container">
        <form id="register_form">
            <h2 class="form-heading">LOGIN</h2>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="text" name="email" id="fullname">
            </div>
            <div class="input-container">
                <label for="fullname">Password</label>
                <input type="text" name="password" id="fullname">
            </div>
            <input type="submit" value="LOGIN" class="btn-submit">
        </form>
</section>